#mapid { height:400px;
	width:75%;
	display: inline-block;
}
#panel {
    width: 18%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}	

.leaflet-popup-content p {
    margin: 1.0em 0;
}
